@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
:root{
    --main-bg-background-color: rgb(109, 214, 145) ;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:var(--main-bg-background-color);
    color: rgb(34, 30, 34) 
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 132px;
    padding: 0 25px;
}
nav ul li{
    list-style: none;
    padding: 0 10px;   
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
     align-items: center ;
}
nav ul li a{
    color: rgba(89, 0, 255, 0.952);
    text-decoration: none ;
}
nav ul li a:hover{
    color: rgba(255, 136, 0, 0.952);
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
    margin: 0 112px;
}
.search input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin: 0 20px 0 46px;
}
    
.cards{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.card-item{
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    width: 12vw;
    margin: 30px;
    background-color: cyan;
   
}
.cards h2{
    font-family: 'Lato', sans-serif;
    
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer{
    height: 12vh;
    background-color:var(--main-bg-background-color );
    color: white;
    font-family: 'Lato', sans-serif;
}

